# Сервер
PORT=3001

# База данных
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=student
POSTGRES_PASSWORD=student
POSTGRES_DB=kupipodariday
DATABASE_TYPE=postgres
DATABASE_SYNCHRONIZE=true

# JWT
JWT_SECRET=defaultKey
JWT_EXPIRES_IN=7d

# Postgres
POSTGRES_PGDATA=/var/lib/postgresql/data/pgdata